# Binaries
*.os
*.o
*.o.tmp
*.dblite

.DS_Store
.vscode

demo/addons
*.code-workspace
bin/addons/godot_whisper/bin/libgodot_whisper.macos.template_release.framework/libgodot_whisper.macos.template_release
bin/addons/godot_whisper/models
