# Binaries
*.os
*.o
*.o.tmp
*.dblite

.DS_Store
.vscode

samples/godot_whisper/addons
*.code-workspace
bin/addons/godot_whisper/bin/libgodot_whisper.macos.template_release.double.universal.framework/libgodot_whisper.macos.template_release.double.universal
bin/addons/godot_whisper/bin/libgodot_whisper.macos.template_release.universal.framework/libgodot_whisper.macos.template_release.universal
bin/addons/godot_whisper/models
bin/addons/godot_whisper/bin/libgodot_whisper.macos.template_release.universal.framework/libgodot_whisper.macos.template_release.universal
